{% extends "OCPlatformBundle::layout.html.twig" %}

{% block body %}
<h1>Ajouter une annonce</h1>
{{ include("OCPlatformBundle:Advert:form.html.twig")}}
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni officiis non rerum soluta sunt quam, eligendi repellat, distinctio quod voluptas!</p>
{% endblock%}
